%h1 Listing tweets

= render 'form'

%table
  %tr
    %th User
    %th Content
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= tweet.user_id
      %td= tweet.content
      %td= link_to 'Show', tweet
      %td= link_to 'Edit', edit_tweet_path(tweet)
      %td= link_to 'Destroy', tweet, :method => :delete, :data => { :confirm => 'Are you sure?' }